page-random {
    
    .datepicker-column {  
        padding: 0;
      
      .label {
        display: flex;
        align-items: center;
        border: .55px solid #c8c7cc;
        border-radius: 5px;
        padding-left: 15px; 
        margin-right: 0;
      }
    }
}
