page-leclogin {

    // .bg {
    //         background: linear-gradient(to top, #8B07F1 0%, #F7EEF9 100%);
    //     }

    .bg-image {
        background-image: url('../assets/4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

         #cool-button-div {

            position: relative;
            width:300px;
            margin:auto;
            border-radius: 40px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 15px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }

        h1 {
                color: white;
              
        }

        #style {
            position: relative;
            width:300px;
            margin:auto;
        }

        #style {
            position: relative;
            width:300px;
            margin:auto;
        }

        
        




}
