page-lec-timetable {
    #cool-button-div {

        position: relative;
        width:250px;
        margin:auto;
        margin-top:10%;
    }

    .button.customBtn{
        width:70px;
        height:25px;
        font-size: 8px;
    }

  
}
